<div class='center-container'>
  <div>
    <h1>New state</h1>

    <%= render "form", state: @state %>

    <br>

    <div style='text-decoration: underline;'>
      <%= link_to "Back to states", states_path %>
    </div>
  </div>
</div>
