<div class='center-container'>
  <div>
    <h1>Editing city</h1>

    <%= render "form", city: @city %>

    <br>

    <div style='text-decoration: underline;'>
      <%= link_to "Show this city", state_city_path(@state, @city) %> |
      <%= link_to "Back to cities", @state %>
    </div>
  </div>
</div>
