<div style="height: 100vh; display: flex; align-items: center; justify-content: center">
  <div>
    <h1>New city</h1>

    <%= render "form", city: @city %>

    <div style="text-decoration: underline; margin-top:10px;">
      <%= link_to "Back to cities", state_path(@state) %>
    </div>
  </div>
</div>